h1,
h2 {
    color: #f77b55;
}

h3 {
    color: #33475b;
    padding-bottom: 2em;
}

h4 {
	color: #33475b;
}

img {
    max-width: 100%;
}

.header {
    margin-bottom: 1.5em;
    padding-bottom: 1em;
    border-bottom-style: groove;
}

.header_logo {
    padding-top: 1em;
}

picture#banner img {
    width: 100vw;
}

[class*="zocial-"]:before {
    color: black;
    display: inline-block;
    font-family: 'zocial', sans-serif;
    text-shadow: 3px 3px 3px #aaa;
    width: 2em;
}

div#social a {
    margin: 0 1em 0 0;
}

div#social {
    line-height: 2em;
}